@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<section>
    <h3>ABC Retailers</h3>
    <p><strong>Address:</strong> 123 Main Street, Johannesburg, South Africa</p>
    <p><strong>Email:</strong> contact@abcretailers.com</p>
    <p><strong>Phone:</strong> +27 11 123 4567</p>
</section>

<section>
    <h3>Operational Hours</h3>
    <ul>
        <li>Monday - Friday: 9am - 6pm</li>
        <li>Saturday: 9am - 1pm</li>
        <li>Sunday: Closed</li>
    </ul>
</section>

<section>
    <h3>Enquiry Form</h3>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdbSYo1nZS5lTL5xGn3alBueYdFDKZ9zm_S5jb8ffYbezksoA/viewform?embedded=true" width="640" height="1928" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>

<section>
    <h3>Find Us on Google Maps</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.477046485749!2d27.876454999999996!3d-26.08334199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959ef5277b96a7%3A0xc4aa15508f8e5e8c!2sIIE%20MSA!5e0!3m2!1sen!2sza!4v1757691526168!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
